@model MovieCategoryModel

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_menu", Model.Categories)
    </div>
    <div class="col-md-9">
        <div class="card mb-3">
            <div class="row no-gutter">
                <div class="col-md-3">
                    <img src="~/img/@Model.Movie.ImageUrl" alt="@Model.Movie.Description" class="card-img">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a asp-action="Details" asp-controller="Home" asp-route-id="@Model.Movie.Id"> @Model.Movie.Name </a>
                        </h5>
                        <p class="card-text">
                            @Html.Raw(@Model.Movie.LongDescription)
                        </p>
                        <p class="card-text">
                            <small class="text-muted">3 days ago</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>